* {
  color: #242017;
  background-color: rgb(146, 96, 31, 1);
  font-family: 'Times New Roman', Times, sans-serif;
  font-size: 24px;
}

.header1 {
  color: rgb(155, 141, 111);
  font-weight: bold;
  font-size: 54px;
  font font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  text-decoration: underline;
  text-shadow: 2px 2px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: auto;}

div.gallery {
  margin: 5px;
  border: 2px solid #ccc4;
  border-radius: 5px;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 2px solid #773;
  border-radius: 5px;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}